.FlipCoin button {
  padding: 20px 45px;
  font-size: 1.3em;
  background-color: darkorange;
  border: none;
  border-radius: 1.2em;
  cursor: pointer;
  outline: none;
}

.FlipCoin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around;
}
